<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source =DESKTOP-VKGTT3J\SQLEXPRESS;Initial Catalog = Demo;Integrated Security=True" 
			 name="CnxToSql" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>